* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(21, 30, 131);
}

.logo {
  color: rgb(215, 226, 226);
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(215, 226, 226);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.burger {
  display: none;
}

.burger div {
  width: 29px;
  height: 3px;
  background-color: rgb(196, 189, 189);
  margin: 5px;
}

@media screen and (max-width: 1300px) {
  body {
    display: none;
  }
}
