* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: rgb(21, 30, 131);
  font-family: Arial;
}
main {
  background-color: rgba(13, 72, 75, 0.562);
  height: 80vh;
}
p {
  font-family: Arial;
  width: 100%;
  height: 80vh;
  color: rgb(250, 250, 250);
  font-size: 15px;
  font-weight: bold;
}

footer {
  background-color: rgb(21, 42, 61);
  height: 10vh;
  color: aliceblue;
  text-align: center;
  padding-top: 25px;
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: bold;
}
.logo {
  color: rgb(215, 226, 226);
  letter-spacing: 5px;
  font-size: 20px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(215, 226, 226);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 29px;
  height: 3px;
  background-color: rgb(196, 189, 189);
  margin: 5px;
}

@media screen and (max-width: 1300px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: rgb(21, 30, 131);
    font-family: Arial;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    background-color: rgb(131, 111, 21);
    display: flex;
    flex-direction: column;
    top: 8vh;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    border-bottom-left-radius: 20px;
    padding-top: 20px;
  }

  .nav-links li {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .burger {
    display: block;
  }
  .nav-active {
    opacity: 1;
  }
  main {
    background-color: rgba(13, 72, 75, 0.562);
    height: 80vh;
  }

  p {
    font-family: Arial;
    width: 100%;
    height: 80vh;
    color: rgb(250, 250, 250);
    font-size: 15px;
    font-weight: bold;
<<<<<<< HEAD
<<<<<<< HEAD
    padding-top: 1;
=======
>>>>>>> parent of 227f384... Merge pull request #1 from KyriakosG78/help-fixes
=======
>>>>>>> parent of 227f384... Merge pull request #1 from KyriakosG78/help-fixes
  }

  footer {
    background-color: rgb(21, 42, 61);
    height: 15vh;
    color: aliceblue;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
  }
}
